@import url("https://fonts.googleapis.com/css2?family=Poppins");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"); */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;
    font-family: "Poppins", sans-serif; */
}
.container {
  min-height: 100vh;
  width: 100%;
}
.left-panel {
  display: flex;
  height: 100vh;
  /* width: 50%; */
  /* border: 1px solid red; */
  flex-direction: column;
  justify-content: space-around;
}
.right-panel {
  background-image: url("../images/blurMap.jpg");
  /* width: 50%; */
  /* border: 1px solid green; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.form-container {
  width: 60%;
  height: 50vh;
  /* margin-left: 20%; */
  /* border: 1px solid green; */
}

.btn-login,
.btn-login:hover {
  background-color: #ad0004;
  color: white;
  width: 40%;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  height: 45px;
}
.btn-wrapper {
  margin-top: 30px;
}
.input-field {
  padding: 12px;
}
.logo-container {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-left: 22px;
}
.logo-container p span {
  color: #ad0004;
}

.text-container h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text-container p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.desc-wrapper {
  width: 90%;
  margin-left: 5%;
  backdrop-filter: blur(10px);
  padding: 30px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
.desc-wrapper p {
  color: white;
  line-height: 25px;
}

.desc-wrapper button,
.desc-wrapper button:hover {
  background-color: #ad0004;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  /* left: 4px; */
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ad0004;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ad0004;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.action-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recovery-link {
  color: #d93f21;
  text-decoration: none;
}
