@import url("https://fonts.googleapis.com/css2?family=Poppins");

:root {
  --main-bg-color: #ad0004;
  --main-text-color: #ad0004;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
  --custom-btn-text-color: white;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.custom-btn,
.custom-btn:hover {
  background-color: var(--main-bg-color);
  color: var(--custom-btn-text-color);
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 14px;
  border-radius: 5px;
  height: 36px;
  border: none;
}

.custom-dark-btn {
  background-color: #343e42;
  color: var(--custom-btn-text-color);
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 14px;
  border-radius: 5px;
  height: 36px;
  border: none;
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-color: #bbbec53b;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 12px 20px;

  width: 80%;
  margin-left: 10%;
  font-size: 14px;
}

.list-group-item.active {
  background-color: var(--main-text-color);
  color: white;
  border: none;
  border-radius: 12px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;

  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media (max-width: 992px) {
  .table-width {
    width: 200%;
  }
}

.logo-container {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-left: 22px;
}

.logo-container p {
  font-size: 16px;
}

.logo-container p span {
  color: #ad0004;
}

.custom-navbar {
  background-color: white;
}

.custom-table-head tr {
  border: 1px solid red;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #e1e2e9;
}

.custom-table-head tr th {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2c2d33;
}

.content-container {
  width: 96%;
  padding-bottom: 50px;
}

.bg-custom-success {
  color: #519c66;
  background: rgba(50, 147, 111, 0.16);
}

.bg-custom-danger {
  background: rgba(173, 0, 4, 0.25);
  color: #ad0004;
}

.bg-custom-approve {
  background: rgba(248, 185, 69, 0.5);
  color: #563801;
}

.custom-badge {
  border-radius: 8px;
  height: 26px;
  line-height: 18px;
}

.action-checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #cfd3d5;
  border-radius: 8px;
}

.content-table tr td {
  color: #6e7079;
  font-size: 14px;
}

.action-form {
  display: flex;
  justify-content: flex-end;
}

.filter-field {
  width: 67px;
}

.custom-input-field {
  border: 1px solid #53545c;
  border-radius: 4px;
  font-size: 11px;
  height: 36px;
}

.search-field {
  font-size: 11px;
}

.dropdown-toggle:after {
  content: none;
}

.page-heading {
  font-size: 18px;
  margin-left: 10px !important;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.bg-grey,
.bg-grey:hover {
  background: rgba(94, 99, 102, 0.1);
}

.bottom-menu {
  color: #1c1d22;
  border-radius: 12px !important;
}

.logout-btn {
  color: #cc5f5f;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.per-page-text {
  color: #a6a8b1;
  font-size: 14px;
}

.left-side {
  /* width: 30%; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.right-side {
  /* width: 30%; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.per-page-dropdown {
  background-color: rgba(94, 99, 102, 0.08);
  border-radius: 8px;
  border: none;
}

.next-prev-wrapper {
  padding-left: 20px;
}

.next-prev-wrapper a {
  text-decoration: none;
}

.bellIcon {
  margin-right: 15px;
}

.custom-btn {
  background-color: #ad0004;
}

.delete-btn,
.delete-btn:hover {
  width: 77px;
  background: rgba(173, 0, 4, 0.25);
  color: #ad0004;
}

.add-btn {
  width: 112px;
  color: white;
  background-color: #039f2f;
}

.action-btn {
  height: 26px;
  font-size: 12px;
  border-radius: 5px;
  padding: 0;
}

.assign-btn {
  width: 117px;

  background: #343e42;
}

.custom-modal-footer {
  justify-content: space-between;
}

.pop-input {
  color: #abafb1;
  background-color: #eff0f2;
}

.img-wrapper img {
  width: 100%;
}

.modal-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.custom-modal-footer button {
  font-size: 12px;
}

.assign-employee-modal {
  width: 75%;
  margin-left: 12%;
}

.modal {
  backdrop-filter: blur(5px);
}